name: Publish to GitHub Packages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
          token: ${{ secrets.DEPLOY_TOKEN_GITHUB }}

      - name: Build with Maven
        run: mvn clean package

      - name: Publish package
        run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
